{%  extends 'base.html.twig' %}
{%  block body %}
    <div class="container mt-4">
        <h1>Ajouter un bien</h1>
        {{ include('admin/property/_form.html.twig', {form: form, button: 'Créer'})}}
    </div>
{% endblock %}