.form-control-plaintext {
    background-color: white !important;
    padding-left: 10px !important;
}


.colA{
	background-color: #e5e7e9; 
	border: solid 1px Gray; 
	border-radius: 2% 2% 2% 2% !important;
}



