body {
    background-image:url(https://www.guide-piscine.fr/medias/image/piscine-olympique-thermal-a-nancy-24923-900-900-F.jpg);
    background-size: cover;     
    background-position: center;
    background-attachment: fixed
    }

header {
    height: 5vh;
}

.conteneur {
    height: 90vh;
}

.row {
    background-color:rgba(208, 211, 212,0.25);
   }

img {
    filter: sepia(50%);
}
   
h2,h3,a,p,li{
color:rgba(0,0,102);
   }

h1,h5 {
color: rgb(154, 161, 165);
}

h4{
    color: purple;
    font-family: 'Comic Sans MS', Times New Roman;
    text-align: center;
}

a:hover{
cursor:pointer
}

p {
    font-size:130%;

}
li  {
    font-size:120%; 
    color: black; 
}

footer  {
    height: 5vh;
    background-color:rgba(45, 48, 49, 0.8);
}

horloge:hover{
    transform:scale(1.5);

}

@media all and (min-width: 200px) and (max-width: 1200px)
{
    .affiche
    {
        width: 30%;
    }
}




