<!-- Afin de valider ton code HTML, clic sur la petite flèche en haut à droite de cette fenêtre.
Pour rappel, tu peux jeter un oeil par ici pour en savoir un peu plus:
https://blog.codepen.io/2017/10/11/analyze-css-now-using-stylelint/ -->

<!-- En-tête de la page -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC">
    <title>Wild Circus</title>
</head>

<!-- Corps de la page -->
<body>
    <header>
        <nav id="liens-menu">
         <ul class="menu">
            <!-- TODO: Les liens du menu doivent nous emmener vers les sections correspondantes
            dans la page -->
            <li><a href="#performances">Performances</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#prices">Prices</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#credits">Credits</a></li>
         </ul>
       </nav>
   <h1 id="home"><strong>Wild<img src="http://www.gifsanimes.fr/images/c/cirque/cirque-gifs-animes-975513.gif"
                                  alt="welcome" height=150px width=140px>Circus</strong>
  </h1>
    </header>
  <br>
  
  <!-- Section Performances -->
  <section>
   <br>
    <h2 id="performances">Performances</h2>
    <!-- TODO: En utilisant du css place ces trois performances ("lough", "dream, "marvel at")
      sur la même ligne en enlevant le point généré par la balise "li". Attention, utilise bien
      le css pour aligner les éléments, tu ne dois pas enlever les balises "li"-->
    <ul id="perf">
      <!-- performance 1 -->
      <li>
        <h3>Laugh</h3>
        <div class="img_perf">
          <img src="http://www.gifsanimes.fr/images/c/clowns/clowns-gifs-animes-4549594.gif"
          alt="Clown" height=10% width=40%>
        </div>
        <p>As an adult, come and discover our irresistible clowns, between practical jokes and
         pranks let yourself be carried away by their joy and fall back into childhood.</p>
      </li>
      <!-- performance 2 -->
      <li>
        <h3>Dream</h3>
        <div class="img_perf">
          <img src="http://www.gifsanimes.fr/professions-gifs/professions-gifs/magicien/magicien-gifs-animes-9537917.gif" alt="Magician" height=10% width=40%>
        </div>
        <p>Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
      </li>
      <!-- performance 3 -->
      <li>
        <h3>Marvel at</h3>
        <div class="img_perf">
          <img src="http://lyonnaise69.l.y.pic.centerblog.net/o/41.gif" alt="Lion" height=10% width=40%>
        </div>
        <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
      </li>
    </ul>
  </section>
 <br>

<!-- Section About Us --> 
      <section>
       <br>
        <h2 id="aboutus">About Us</h2>
       <!-- TODO: Cette section n'a pas encore été réalisée, tu as carte blanche pour nous montrer ta créativité -->
        <ul id="about">
          <!-- Paragraphe 1 -->
          <li>
           <h3>A little history...</h3>
           <div class="img_about">
          <img src="http://galeriedesartistes.g.a.pic.centerblog.net/a77c313f.gif"
          alt="Charlot" height=10% width=30%>
        </div>
            <p>Our Circus was created in 1974, by 2 avant-garde artists, respectively clown and acrobat. They were joined little by little, over the years and representations. The team is today represented by more than 20 artists, who are waiting for you impatiently, to express their art and their talent.</p>
         </li>
         <!-- Paragraphe 2 -->
         <li>
          <h3>The circus...</h3>
           <div class="img_about">
          <img src="https://i.pinimg.com/originals/20/78/70/207870afb778ec9f9443e41e60e9ff79.gif"
          alt="Circus" height=19% width=52%>
        </div>
           <p>His Tent heated and air-conditioned, is 42 meters in diameter, 30 meters high and can accommodate more than 3,000 people. His decorations were created and offered over time, by our fans and local artists, and traces our history, during its decades of existence.</p>
        </li>
        <!-- Paragraphe 3 -->
        <li>
         <h3>The artists...</h3>
          <div class="img_about">
          <img src="http://www.gifsanimes.fr/images/c/cirque/cirque-gifs-animes-3671968.gif"
          alt="Artists" height=13% width=33%><img src="http://www.gifsanimes.fr/images/c/cirque/cirque-gifs-animes-6132888.gif"
          alt="Artists" height=9% width=28%>
        </div>
          <p>Come young and old discover more than 2 hours of shows: acrobats, fire-eaters, gymnasts, trapeze artists, 
         clowns, contortionists, dressage and taming, balancing, fakir, jugglers, magicians, ventriloquists, ...</p>
        </li>
       </ul>  
     </section>
 <br>
    
    <!-- Section Prices -->  
     <section>
      <br>
       <h2 id="prices">Prices</h2>
       <!-- TODO:  Réalise un tableau qui présente les différents prix. Exemple (aggrandis la fenêtre en largeur pour
       bien voir l'exemple ci-dessous) :
                                | Adultes | Enfants de moins de 12 ans | Groupes (plus de 10 personnes) | Ecoles
        Semaines hors mercredi  |         |                            |                                |
        week-end et mercredi    |         |                            |                                |
      -->
      <!-- Prices table -->   
       <table>
        <caption>Wild Circus Admission Prices (<img src="https://www.logolynx.com/images/logolynx/16/168ed239498c8f26925edc96ceb1c1be.gif" alt="USD" height=2% width=3%>)</caption> 
         <tbody>
           <tr>
            <th><img src="https://randlesmithautosales.com/themes/theme1/img/ticket.gif" alt="Admission ticket" height=60% width=40%></th>
            <th>Adults</th>
            <th>Children under 12</th>
             <th>Groups(more <br> than 10 people)</th>
            <th>Schools</th>
           </tr>
           <tr>
            <td>Week off<br>Wednesday</td>
            <td>12</td>
            <td>8</td>
            <td>10</td>
            <td>8</td>
           </tr>
           <tr>
            <td>Wednesday<br>and Week-end</td>
            <td>15</td>
            <td>10</td>
            <td>13</td>
            <td>10</td>
           </tr>
         </tbody>
       </table>
     </section>
 <br>

   <!-- Section Contact Us -->  
    <section>
      <br>
       <h2 id="contact">Contact Us</h2>
       <!-- TODO: Réalise un formulaire de contact avec les champs email et message plus un bouton pour envoyer le message.
       Pense bien à ajouter les labels pour les différents champs
       Ce formulaire n'a pas besoin d'être fonctionnel, réalise juste la mise en forme.
      -->
       <!-- Formulaire de contact -->   
        <form method="post" action="traitement.php">
         <legend>A question ? Tell us !</legend>
          <label for="last_name">Last Name</label><br>
          <input type="text" id="last_name" placeholder="ABC" name="last"/><br>
          <label for="first_name">First Name</label><br>
          <input type="text" id="first_name" placeholder="Abc" name="first"/><br>         
          <label for ="mail">Your Email</label><br> 
          <input type="email" id="mail" placeholder="address@domain.com" name="address"/><br>     
          <label for ="message">Your Message</label><br>
         <textarea id="message" placeholder="Hello,"rows="8" cols="45" name="question"></textarea><br>
         <input type="submit" value="Send" id="send"/><br>
       </form>
       <br><br>
      </section>
  <h2 id="credits">Credits</h2> 
    <!-- Pied de page -->  
    <footer>
      <!-- TODO: Entre ton nom et prénom.
        Mets en place un lien vers le site de la Wild Code School (https://wildcodeschool.fr).
        Tu peux egalement mettre un lien sur ton nom vers ton site, ton blog ou ton profil github ou linkedin, si tu en a un.
       -->
      <br>       
       <p><img src="https://content.digitalwallonia.be/profile/13206-20180716092048000/logo-orange-pastille.png" alt="Wild code school Logo" height=10% width=10%><br>Wild Circus® by Laurent FARINEAUX</p><br><br>
       <!-- Liens --> 
        <div class="liens_footer">
         <p><a  href="https://wildcodeschool.fr/" target="_blank"><img src="https://wildcodeschool.fr/wp-content/uploads/2019/01/logo_pink_176x60.png" alt="Wild code school Logo" height=50% width=50%> <br>→ Wild Code School®</a></p>
         <p><a href="http://www.france-ioi.org/user/perso.php?sLogin=lfarineaux" target="_blank"><img src="http://www.france-ioi.org/dataSite/img/logo.png" alt="France IOI Logo" height=50% width=30%> <br>→ My profile France-IOI®</a></p>
         <p><a href="https://www.sololearn.com/Profile/12553721" target="_blank"><img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/490949-3370cc81f793e9caa256fe16ea5ad61c-medium_jpg.jpg?buster=1411226512" alt="Solo Learn Logo"  height=50% width=25%> <br>→ My profile SoloLearn®</a></p>
        </div>
      <br><p>© January MMXIX</p><br>
      </footer><br> 
      <nav id="lien_home">
       <a href="#home">Home</a>
       </nav>  
</body>