body{
    
    background-image: url("blonde.jpg");
    background-size: cover;}
    #HB{
        position: absolute;
        top: 6px;
        width: 30px;
        background-color: transparent ;
        border: transparent;
       
    background-repeat:no-repeat;
    }

#HB :hover{
    width: 30px;
    
    
}    
        img:hover {
           background-size:60px;
            cursor: pointer;
        }

    #b1 {
        position: absolute;
        transition: .5s ease;
        top: 0px;
        left: 84%;
    
        
        border-radius: 4px;
        
        background-color: transparent;
        border: none;
        
        color: white;
        text-align: center;
        font-size: 28px;
        font-family: fantasy;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      #b1:hover {
        border: none;
        color: green;
        font-size: 32px;
        transition: 0.5s;
        box-shadow: 0px 0px 1px #777;
       }
    
   
html { overflow-y: auto;
    overflow-Y: auto;
    scroll-behavior: smooth;
overflow-x: hidden; }
#first{position: relative;
    transition: .5s ease;
    top: -191px;
    left: 420px;
    right: -420px;
    bottom: -382px;
    border-radius: 4px;}

h1{position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
    border-radius: 4px;}

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:transparent; /* Black*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: fantasy;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    transition: 0.5s;
    font-size: 50px;
    color: #d89417;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }
  
  
  
  
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  