h1{color: rgb(196, 143, 0);
text-align: center;
font-family: fantasy;
}
body{

  background-image: url("beer.jpg");
  background-size: cover;
}
#HB{
  width:30px;
  height:30px;
  
  background-color: transparent ;
  border: transparent;
 
background-repeat:no-repeat;
}

#b1 {
    position: relative;
    transition: .5s ease;
    top: -130px;
    left: 84%;

    bottom: -191px;
    border-radius: 4px;
    
    background-color: transparent;
    border: none;
    
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: fantasy;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #b1:hover {
    border: none;
    color: green;
    font-size: 32px;
    transition: 0.5s;
    box-shadow: 0px 0px 1px #777;
   }

   /* Dropdown Button */
#drop1 {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: fantasy;
   
  }
  #drop1:hover{
    background-color:transparent;
    color: #d89417}
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    left: 22%;
    display: inline-block;
  }
  .dropdown:hover{
    
   
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    font-family: fantasy;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #blonde:hover{
    transition: 0.9s;
    color: rgb(255, 208, 0);
    font-size: 25px;
  }
  #ipa:hover{
    transition: 0.9s;
    color: rgb(46, 187, 11);
    font-size: 25px;
  }
  
  #ambree:hover{
    transition: 0.9s;
    color: rgb(216, 124, 18);
    font-size: 25px; 
  }
  #brune:hover{
    
color: rgba(92, 22, 22);
font-size: 25px;
transition: 0.9s;

  }

  #charcuterie:hover{
    transition: 0.9s;
    color: rgb(250, 112, 112);
    font-size: 25px; 
  }
  #chocolat:hover{
    transition: 0.9s;
    color: rgb(73, 41, 4);
    font-size: 25px; 
  }
  #fromage:hover{
    transition: 0.9s;
    color: rgb(218, 169, 9);
    font-size: 25px; 
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:transparent;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #158d87;}

  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:transparent; /* Black*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: fantasy;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  transition: 0.5s;
  font-size: 50px;
  color: #d89417;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}





/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
